@page "/auth"
@using f_client.Components.Authentication
@using f_client.Data.Response
@inject NavigationManager Navigation

<PageTitle>Authentication</PageTitle>

<div class="d-flex flex-column align-items-center">
    <div class="auth-card">
        <AuthenticationBlock OnSuccess="HandleSuccess" />
    </div>
</div>

@code {
private void HandleSuccess(UserAuthResponse response)
{
Navigation.NavigateTo("/");
}
}
