@page "/Profile"
@using f_client.Components.Authentication

<div class="d-flex flex-column align-items-center">
    <h3>Profile</h3>
    <p>Here will be your profile</p>
    <LogoutBlock/>
</div>

@code {

}