@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using f_client.Components.Authentication
@inject AuthenticationStateProvider AuthStateProvider

<div class="d-flex flex-column align-items-center">
    <h3>Home</h3>

    <AuthorizeView>
        <Authorized>
            <p>Welcome!</p>
        </Authorized>
        <NotAuthorized>
            <p>Please log in to access this page.</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

}