@inherits LayoutComponentBase

<div class="top-row navbar navbar-dark px-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">F Universe</a>

        <div class="d-flex align-items-center">
            <nav class="nav">
                <NavLink class="nav-link" href="auth">Sign in</NavLink>
            </nav>
        </div>
    </div>
</div>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>
